#main-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin: 4vh auto;
  height: 100%;
  width: 68%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

}
