#logo {
  display: flex;
  flex: auto;
  width: 85vw;
  float:right;
  position: relative;
  border: 1px solid black;
  background-color: white;
}
.times-logo {
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin: .5em;
  padding-top: 10px;
}

#disclaimer {
  justify-content: center;
  align-items: center;
}


