#sidebar-container {
  display: flex;
  flex: auto;
  width: 15vw;
  height: 100%;
  position: fixed;
  top:0;
}

#sidebar {
  position: relative;
  flex-wrap: nowrap;
  flex: auto;
  padding: 2px;
  list-style: none;
  font-family: 'Georgia';
  overflow: auto;
  background-color: slategrey;
  height: 100%;
  margin: auto;

}

.sidebar-link {
  border: 1px ridge grey;
  font-size: 1.2vw;
  color: black;
  box-shadow: 0 10px 10px 0 rgb(85, 78, 78);
  background-color: #FFFFF8;
  margin: 10% 10% 10% auto;
  padding: 25% 10% 5% 0;
  border-radius: 0 1vw 1vw 0;
  text-align: right;

}

.sidebar-link:hover {
  box-shadow: 0 12px 16px 0 rgba(7, 7, 7, 0.48), 0 5px 50px 0 rgba(151, 132, 149, 0.19);
  transform: scale(1.5);
  border-radius: 0;
  z-index: 5000;
}


.sidebar a:link {
  text-decoration: none;
}
