#sidebar-container {
  display: flex;
  width: 20vw;
}
.sidebar {
  flex-direction: column;
  flex-wrap: auto;
  flex: auto;
  position: fixed;
  height: 100%;
  width: 10vw;
  justify-content: space-around;
  align-items: baseline;
  border: 2px solid rgba(238, 230, 214, 0.3);
  list-style: none;
  margin: .5em;
  padding: .5em;
  text-align: center;
  font-family: 'Georgia';
  background-color: whitesmoke;
  overflow: scroll;

}

.sidebar-link {
  border: 1px solid grey;
  margin: 5%;
  padding: 5%;
  border-style: ridge;
  font-size: .8em;
  color: black;
  box-shadow: 1px 1px 5px grey;
  background-color: #FFFFF8;



}


.sidebar a:link {
  text-decoration: none;
}
