.sidebar-container {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: auto;
  flex: auto;
  justify-content: space-around;
  align-items: baseline;

  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Georgia';
}

.sidebar li {
  display: inline;
}


.sidebar a:link {
  text-decoration: none;
}
